<br>
<div class="container">
   <% include ./partials/messages %>
   <form action="/finrep" method="POST">
  <h2>Create Financial Report</h2>
  <p>Put some description here</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Start Year</th>
        <th>Start Month</th>
        <th>End Year</th>
        <th>End Month</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="form-group">
            <select class="form-control" name="startyear">
              <option>2019</option>
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
              <option>2015</option>
              <option>2014</option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <select class="form-control" name="startmonth">
              <option>Jan</option>
              <option>Feb</option>
              <option>Mar</option>
              <option>Apr</option>
              <option>May</option>
              <option>Jun</option>
              <option>Jul</option>
              <option>Aug</option>
              <option>Sep</option>
              <option>Oct</option>
              <option>Nov</option>
              <option>Dec</option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <select class="form-control" name="endyear">
              <option>2019</option>
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
              <option>2015</option>
              <option>2014</option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <select class="form-control" name="endmonth">
              <option>Jan</option>
              <option>Feb</option>
              <option>Mar</option>
              <option>Apr</option>
              <option>May</option>
              <option>Jun</option>
              <option>Jul</option>
              <option>Aug</option>
              <option>Sep</option>
              <option>Oct</option>
              <option>Nov</option>
              <option>Dec</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-danger">Create Financial Report</button>
  </form>
</div>
